.vs/Asp2017/v15/Server/sqlite3/db.lock
.vs/Asp2017/v15/Server/sqlite3/storage.ide
.vs/RPS Profile Completeness/v15/Server/
_ReSharper.Caches/
node_modules/
obj/
RPS.Data/bin/
RPS Profile Completeness/logs/
RPS.Data.Elasticsearch/bin/
RPS.Domain/bin/
RPS.Application/bin/Debug/netcoreapp2.0/RPS.Application.deps.json
RPS.Application/bin/Debug/netcoreapp2.0/RPS.Application.dll
RPS.Data.Elasticsearch.Tests/bin/Debug/netcoreapp2.0/RPS.Data.Elasticsearch.Tests.runtimeconfig.json
RPS.Presentation.Functional.Tests/bin/
RPS.Application/bin/
