.vs/Asp2017/v15/Server/sqlite3/db.lock
.vs/Asp2017/v15/Server/sqlite3/storage.ide
.vs/RPS Profile Completeness/v15/Server/
_ReSharper.Caches/
node_modules/
obj/
RPS.Data/bin/
RPS Profile Completeness/logs/
RPS.Data.Elasticsearch/bin/
RPS.Domain/bin/
