<header>
  <nbs-menu-toggle ></nbs-menu-toggle>
  <span class="text-center logo-wrapper">
    <mat-icon class="logo" svgIcon="nbs:symbol"></mat-icon>
    <span class="product">NBS Resource Centre</span>
  </span>
  <span class="spacer"></span>
</header>

<mat-sidenav-container (backdropClick)="menuToggle.close()">
  <mat-sidenav #sidenav [opened]="showMenu" (close)="onNavClose()" mode="push">
    <router-outlet name="sidenav"></router-outlet>
  </mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>
