.mat-expansion-panel {
  &:not([class*=mat-elevation-z]) {
    @include box-shadow-none;
  }

  &:hover {
    &:not(.mat-expanded)
    .mat-expansion-panel-header {
      .mat-expansion-indicator {
        &::after {
          color: $white;
        }
      }
    }
  }
}

.mat-expansion-panel-content {
  a {
    padding: 0;
  }

  .mat-expansion-panel-body {
    padding: 0;
    margin: 0;

    a {
      padding: .875rem 1rem .875rem rem(60);

      &:hover {
        background: $nbs-action;
        border-bottom: 1px solid transparent;
        color: $white !important;
      }
    }
  }
}
